.residents-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: black;
    padding: 3rem;
    background-image: url(https://images3.alphacoders.com/633/633288.png);
    background-position: 50% center;
    background-repeat: no-repeat;
}